<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #magnify-area {
            width: 350px;
            height: 450px;
            overflow: hidden;
            position: relative;
        }

        #magnify-img {
            max-width: 100%;
            min-width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: none;
        }
    </style>

</head>

<body>

    <figure id="magnify-area">
        <img id="magnify-img" src="https://marketplace.canva.com/EAFaQMYuZbo/1/0/1003w/canva-brown-rusty-mystery-novel-book-cover-hG1QhA7BiBU.jpg" alt="">

    </figure>

    <script>
        const magnify_area = document.getElementById("magnify-area");
        const magnify_img = document.getElementById("magnify-img");

        magnify_area.addEventListener("mousemove", function (event) {
            let clientX = event.clientX - magnify_area.offsetLeft;
            let clientY = event.clientY - magnify_area.offsetTop;
            const mWidth = magnify_area.offsetWidth;
            const mHeight = magnify_area.offsetHeight;

            clientX = (clientX / mWidth) * 100;
            clientY = (clientY / mHeight) * 100;

            magnify_img.style.transform =
                "translate(-" + clientX + "%,-" + clientY + "%) scale(2)";
        });

        magnify_area.addEventListener("mouseleave", function (event) {
            magnify_img.style.transform = "translate(-50%,-50%) scale(1)";
        });

    </script>



</body>

</html>