

.store-offer-aside {
    position: relative;
}

.offer-tag-aside {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);

}

.dropdown-menu {
    min-width: 0;
    
}



.book-card {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: #f6eee3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;


}

.book-card .book-card-cover {
    position: relative;
    width: 82%;
    height: 325px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card-book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card-book-front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.book-card .book-card-book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card-book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card-img {
    width: 100% !important;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.book-card .book-card-author {
    color: #757575;
    font-size: 1em;
}

/* STATES */
.book-card-cover:hover .book-card-book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card-cover:hover .book-card-book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card-cover:hover .book-card-book-side {
    opacity: 1;
}

.top-details {
    width: 100%;
}



footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    border-left: 1px solid grey;
}





.product-col{
    position: relative;
}


.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "★★★★★";
  color: #cfcbcb;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "★★★★★";
  color: #198754;
}