body {
    user-select: none;
    background-color: #f6eee3;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --m: 4rem;
}

.section-1 {
    background-color: #f6eee3;
    /* min-height: 95vh; */
    height: 75px;

}



.search-input {
    border: none;
    background: none;
}

.search-input:focus {
    outline: none;
}

.search-div {
    border-bottom: 1px solid black;
}

.menu,
.drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;

    position: relative;
}


.menu-item a {
    text-decoration: none;
    padding: 6px 10px;
    color: black;
    display: block;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 100;
}

.drop-menu-item {
    width: 100%;
}

.drop-menu-item:hover {
    background-color: #eee;
}

.drop-menu-item a {
    color: #555;
}

.drop-menu-item-category a {
    width: 100%;
    padding: 6px 10px !important;
    text-decoration: none;
    color: black;
    display: block;
}

.drop-menu-item-category:hover {
    background-color: #eee;
}

.drop-menu-item-category a {
    color: #555;
}

.menu-item:hover .drop-menu {
    display: block;

}

.menu-item-category:hover .drop-menu {
    display: block;

}

.nested-drop-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.drop-menu-item-category:hover .nested-drop-menu {
    display: block;
}

.nested-drop-menu-item {
    width: 100%;
}

.nested-drop-menu-item:hover {
    background-color: #eee;
}

.nested-drop-menu-item a {
    color: #555;
}

.nested-drop-menu li {
    list-style-type: none;
}

#nested-ul {
    padding: 0;
}

.category-btn {
    border: none;
    background: none;
}

.bag-bg{
    position: relative;
}

.count-bg{
    position: absolute;
    background-color: #000;
    height: 16px;
    width: 16px;
    top: 0;
    right: -15%;
    border-radius: 50%;
}

.store-offer-aside {
    position: relative;
}

.offer-tag-aside {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);

}

.dropdown-menu {
    min-width: 0;
    
}



.book-card {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: #f6eee3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;


}

.book-card .book-card-cover {
    position: relative;
    width: 82%;
    height: 325px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card-book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card-book-front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.book-card .book-card-book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card-book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card-img {
    width: 100% !important;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.book-card .book-card-author {
    color: #757575;
    font-size: 1em;
}

/* STATES */
.book-card-cover:hover .book-card-book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card-cover:hover .book-card-book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card-cover:hover .book-card-book-side {
    opacity: 1;
}

.top-details {
    width: 100%;
}



footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    border-left: 1px solid grey;
}

.heart {
    width: 100px;
    height: 100px;
    background-image: url("https://cssanimation.rocks/images/posts/steps/heart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}



.product-col{
    position: relative;
}


.placement {
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 100;
}