ol.progtrckr {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 3.5em;
}

/* ol.progtrckr[data-progtrckr-steps="2"] li { width: 49%; }
ol.progtrckr[data-progtrckr-steps="3"] li { width: 33%; } */
ol.progtrckr[data-progtrckr-steps="4"] li { width: 24%; }
/* ol.progtrckr[data-progtrckr-steps="5"] li { width: 19%; }
ol.progtrckr[data-progtrckr-steps="6"] li { width: 16%; }
ol.progtrckr[data-progtrckr-steps="7"] li { width: 14%; }
ol.progtrckr[data-progtrckr-steps="8"] li { width: 12%; }
ol.progtrckr[data-progtrckr-steps="9"] li { width: 11%; } */

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 4px solid yellowgreen;
}
ol.progtrckr li.progtrckr-todo {
    color: silver; 
    border-bottom: 4px solid silver;
}

/* ol.progtrckr li:after {
    content: "\00a0\00a0";
} */
ol.progtrckr li:before {
    position: relative;
    bottom: -2.5em;
    float: left;
    left: 50%;
    line-height: 1em;
}
ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: yellowgreen;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;
}
ol.progtrckr li.progtrckr-todo:before {
   
    content: "\2713";
    color: white;
    background-color: grey;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    border: none;
    border-radius: 2.2em;

}


.book-card {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: #f6eee3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;


}

.book-card .book-card-cover {
    position: relative;
    width: 82%;
    height: 325px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card-book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card-book-front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.book-card .book-card-book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card-book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card-img {
    width: 100% !important;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.book-card .book-card-author {
    color: #757575;
    font-size: 1em;
}

/* STATES */
.book-card-cover:hover .book-card-book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card-cover:hover .book-card-book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card-cover:hover .book-card-book-side {
    opacity: 1;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    border-left: 1px solid grey;
}





.product-col{
    position: relative;
}


