body {
    user-select: none;
    
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --m: 4rem;
}

.section-1 {
    background-color: #f6eee3;
   
    height: 75px;
    

}

.search-input {
    border: none;
    background: none;
}

.search-input:focus {
    outline: none;
}

.search-div {
    border-bottom: 1px solid black;
}

.menu,
.drop-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    display: inline-block;

    position: relative;
}


.menu-item a {
    text-decoration: none;
    padding: 6px 10px;
    color: black;
    display: block;
}

.drop-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 100;
}

.drop-menu-item {
    width: 100%;
}

.drop-menu-item:hover {
    background-color: #eee;
}

.drop-menu-item a {
    color: #555;
}

.drop-menu-item-category a {
    width: 100%;
    padding: 6px 10px !important;
    text-decoration: none;
    color: black;
    display: block;
}

.drop-menu-item-category:hover {
    background-color: #eee;
}

.drop-menu-item-category a {
    color: #555;
}

.menu-item:hover .drop-menu {
    display: block;

}

.menu-item-category:hover .drop-menu {
    display: block;

}

.nested-drop-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    min-width: 100px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.drop-menu-item-category:hover .nested-drop-menu {
    display: block;
}

.nested-drop-menu-item {
    width: 100%;
}

.nested-drop-menu-item:hover {
    background-color: #eee;
}

.nested-drop-menu-item a {
    color: #555;
}

.nested-drop-menu li {
    list-style-type: none;
}

#nested-ul {
    padding: 0;
}

.category-btn {
    border: none;
    background: none;
}

.bag-bg{
    position: relative;
}

.count-bg{
    position: absolute;
    background-color: #000;
    height: 16px;
    width: 16px;
    top: 0;
    right: -15%;
    border-radius: 50%;
}