body {
    user-select: none;
    overflow-x: hidden;
}







/* SLIDER */


#slider {
    height: 600px;
    position: relative;
    margin-top: 75px;
}

.bi-chevron-left {
    position: absolute;
    bottom: 2%;
    right: 9%;
    background: none;
    border: none;
    font-size: xx-large;
}

.bi-chevron-right {
    position: absolute;
    bottom: 2%;
    right: 6%;
    background: none;
    border: none;
    font-size: xx-large;

}

.slider-btn {
    border: none;
}

.carousel-inner {
    background-color: #f6eee3;
}

.slider-img {
    min-width: 50%;
    max-width: 65%;
}




/* TOP RATED BOOKS */



.top-img {
    height: 275px;

}

.top-details {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
    background-color: white;

}

.book-card {
    width: 100%;
    padding: 16px;
    border-radius: 5px;
    background-color: #f6eee3;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    position: relative;


}

.book-card .book-card-cover {
    position: relative;
    width: 82%;
    height: 325px;
    margin: 0 auto 8px auto;
    perspective: 1000px;
}

.book-card .book-card-book {
    height: 100%;
    transform-style: preserve-3d;
    transition: all 250ms ease;
}

.book-card .book-card-book-front {
    position: absolute;
    height: 100%;
    width: 100%;
}

.book-card .book-card-book-back {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform: translateZ(-40px);
}

.book-card .book-card-book-side {
    position: absolute;
    top: 5px;
    bottom: 2px;
    right: -29px;
    width: 40px;
    background-size: 5px;
    background-color: #e1e1e1;
    background-image: linear-gradient(to right, #ccc 35%, #e1e1e1 35%);
    opacity: 0;
    transform: rotate3d(0, 1, 0, 90deg);
}

.book-card .book-card-img {
    width: 100% !important;
    height: 100%;
    background-color: #e1e1e1;
}

.book-card .book-card-title {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.book-card .book-card-author {
    color: #757575;
    font-size: 1em;
}

/* STATES */
.book-card-cover:hover .book-card-book {
    transform: rotate3d(0, -1, 0, 30deg) translate(-15px, -30px);
}

.book-card-cover:hover .book-card-book-back {
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.35);
}

.book-card-cover:hover .book-card-book-side {
    opacity: 1;
}

.top-details {
    width: 100%;
}

.top-genre {
    border: 1px solid black;
    font-size: small;
}

.top-title {
    height: 24px;
    overflow: hidden;
}

.top-des {
    height: 72px;
    overflow: hidden;
}

.top-col {
    position: relative;
}

.rank {
    position: absolute;
    top: -16%;
    z-index: -5;
    font-family: "Londrina Outline", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.top-row {
    margin-top: 85px;
}

.off-img {
    width: 100%;
    height: 270px;

}

.off-1 {
    background-color: #F8FFF6;
}

.off-2 {
    background-color: #FFF8F8;
}

footer li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
    color: white;
}

.footer-logo {
    border-left: 1px solid grey;
}

.heart {
    width: 100px;
    height: 100px;
    background-image: url("https://cssanimation.rocks/images/posts/steps/heart.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
    transition: background-position 1s steps(28);
    transition-duration: 0s;
}

.heart.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
}


.placement {
    position: absolute;
    right: -5%;
    top: -5%;
    z-index: 100;
}